*~
*.o
*.bin
*.exe
test
test.bin
test.txt
tests/test
tests/test.bin
tests/test.txt
libC+.a
demos/example
demos/files
demos/functions
demos/lists
demos/reference
demos/types
demos/Vec2+
