# Main
*.log
*~
*.libs
*.o
*.la
*.so*
*.a
*.lo
*.dll
*.exe
*.gz
*.class

# Tests
test.bin
test.txt
test.exe
test

# Benchmarking
profile.txt

# Dist
libCello*

# VIM related
.clang_complete
